# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
build/cisco-cli-interface

# Test executables
test_cisco_commands
test_file_tree
test_file_tree_add_child
test_file_tree_build
test_file_tree_build_recursive
test_file_tree_count_selected
test_file_tree_delete_selected
test_file_tree_delete_selected_recursive
test_file_tree_free
test_file_tree_get_flat_list
test_file_tree_select
test_file_tree_create

# Build directory
scripts/build/

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# debug information files
*.dwo
